img {
  width: 10vw;
  height: auto;
  min-width: 100px;
}
.navbar {
  background: linear-gradient(180deg, #0f3057, rgba(15, 48, 87, 0.2));
  box-shadow: 0px 4px 35px rgba(15, 48, 87, 0.81);
  background-color: #00587a;
  /* position: fixed; */
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin-bottom: 10%; */
  justify-content: space-around;
  width: 100%;
  z-index: 3;
}
.navbar-collapse {
  justify-content: space-around;
  z-index: 4;
}
.navbar-brand {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgimg {
  width: 100vw;
  height: 80vh;
}

.form-control {
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
}
.form-control:focus {
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
}
.searchcon {
  border: none;
  border-radius: 25px;
  background-color: rgba(178, 221, 224, 0.47);
  box-shadow: 0px 4px 25px 2px rgba(0, 0, 0, 0.25);
  margin: 4px;
}

svg {
  color: #fff;
}

.person {
  width: 20px;
  height: auto;
}
